    <div class="credits text-center">
        <p>
            <a href="#">User Registration and Login Example in MEAN Stack Technology</a>
        </p>
        <p>
            <a href="www.dileepdesire.wordpress.com">www.dileepdesire.wordpress.com</a>
        </p>
    </div>
</body>
</html>